header{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 70px;
    background-color: #fff;
    border-bottom:1px solid #d8d8d8;

}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

    width: 100vw;

  }
.createPost{
    display: flex;
    flex-direction: column;

  }
.createPostContainer {
  padding: 20px 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  

  
}
.createPostContainer input{
  padding:10px;
margin-bottom: 20px;
}
.createPostContainer textarea{
  margin-bottom: 20px;
}
.createPostHeader{
  padding: 10px 40px;
  display:flex;
  justify-content: space-between;
  font-size: 18px;
 
 
}
.createPost{
  display: none;
  background-color: #fff;
  position: fixed;
  z-index: 1; /* Sit on top */
  left: 25%;
  top: 20%;
  width: 50%;
  border:1px solid #d8d8d8;
}

a{
    text-decoration: none;
    color :#000;
}

.links{
    list-style: none;
}

.links li{
    display:inline-block;
    padding :0 20px;

}

.links li a{
    text-decoration: none;
}

.icons{
    list-style: none;
}

.icons li{
    display:inline-block;
    padding :0 20px;

}

.icons li a{
    text-decoration: none;
}

.posts{
    

    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}
.post{
    width: 50vw;
    border:1px solid #d8d8d8;
    margin-bottom :30px;
}
.img{
    width: 50vw;
}
.headerPost{
    padding: 0 20px;
     
    display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #d8d8d8;
  }
  .publicherInfo{
      display:flex;

  }
.publicherInfo img{
    padding-top: 10px;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      margin-right: 10px;
  }
  .addPost{
    width: 50%;
    height: 30px;
  }
  .id{
    display: none;
  }
@media (min-width: 567px) {
    .container {
      width: 550px;
    }
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }